In [50]:
import datetime

In [39]:
import psycopg2

fly_con = psycopg2.connect(
  database="fly_booking_db", 
  user="postgres", 
  password="zxcvbn", 
  host="127.0.0.1", 
  port="5432"
)

hotel_con = psycopg2.connect(
  database="hotel_booking_db", 
  user="postgres", 
  password="zxcvbn",
  host="127.0.0.1", 
  port="5432"
)

print("Databases have been opened successfully")

Databases have been opened successfully

# Show tables content

In [40]:
print("Hotel:")
with hotel_con.cursor() as hotel_cursor:
    hotel_cursor.execute("SELECT * FROM hotel_booking;")
    answer_hotel = hotel_cursor.fetchall()

hotel_con.rollback()

for line in answer_hotel:
    print("\t".join(map(lambda x: str(x).strip(), line)))
    

print("Fly:")
with fly_con.cursor() as fly_cursor:
    fly_cursor.execute("SELECT * FROM fly_booking;")
    answer_hotel = fly_cursor.fetchall()

fly_con.rollback()

for line in answer_hotel:
    print("\t".join(map(lambda x: str(x).strip(), line)))

Hotel:
101	Nik	Hilton	2015-05-01	2015-05-07
Fly:
101	Nik	KLM 1382	KBP	AMS	2015-05-01

# Prepare commits

In [44]:
with hotel_con.cursor() as hotel_cursor:
    hotel_cursor.execute("""
    INSERT INTO hotel_booking (client_name, hotel_name, arrival, departure)
    VALUES ('Anton', 'Kiev', '6-05-2020', '12-05-2020');
    """)

with fly_con.cursor() as fly_cursor:
    fly_cursor.execute("""
    INSERT INTO fly_booking (client_name, fly_number, code_from, code_to, fly_date)
    VALUES ('Anton', 'KVV 1482', 'KWW', 'KV', '6-05-2020');
    """)

# Choose only one

## Commit changes

In [45]:
fly_con.commit()
hotel_con.commit()

In [46]:
print("Hotel:")
with hotel_con.cursor() as hotel_cursor:
    hotel_cursor.execute("SELECT * FROM hotel_booking;")
    answer_hotel = hotel_cursor.fetchall()

hotel_con.rollback()

for line in answer_hotel:
    print("\t".join(map(lambda x: str(x).strip(), line)))
    

print("Fly:")
with fly_con.cursor() as fly_cursor:
    fly_cursor.execute("SELECT * FROM fly_booking;")
    answer_hotel = fly_cursor.fetchall()

fly_con.rollback()

for line in answer_hotel:
    print("\t".join(map(lambda x: str(x).strip(), line)))

Hotel:
101	Nik	Hilton	2015-05-01	2015-05-07
104	Anton	Kiev	2020-05-06	2020-05-12
Fly:
101	Nik	KLM 1382	KBP	AMS	2015-05-01
104	Anton	KVV 1482	KWW	KV	2020-05-06

## Rollback changes

In [42]:
fly_con.rollback()
hotel_con.rollback()

In [43]:
print("Hotel:")
with hotel_con.cursor() as hotel_cursor:
    hotel_cursor.execute("SELECT * FROM hotel_booking;")
    answer_hotel = hotel_cursor.fetchall()

hotel_con.rollback()

for line in answer_hotel:
    print("\t".join(map(lambda x: str(x).strip(), line)))
    

print("Fly:")
with fly_con.cursor() as fly_cursor:
    fly_cursor.execute("SELECT * FROM fly_booking;")
    answer_hotel = fly_cursor.fetchall()

fly_con.rollback()

for line in answer_hotel:
    print("\t".join(map(lambda x: str(x).strip(), line)))

Hotel:
101	Nik	Hilton	2015-05-01	2015-05-07
Fly:
101	Nik	KLM 1382	KBP	AMS	2015-05-01

# Remove new line

In [37]:
print("Hotel:")
with hotel_con.cursor() as hotel_cursor:
    hotel_cursor.execute("DELETE FROM hotel_booking WHERE client_name='Anton';")

hotel_con.commit()

print("Fly:")
with fly_con.cursor() as fly_cursor:
    fly_cursor.execute("DELETE FROM fly_booking WHERE client_name='Anton';")

fly_con.commit()

Hotel:
101	Nik	KLM 1382	KBP	AMS	2015-05-01
102	Anton	KVV 1482	KWW	KV	2020-05-06
Fly:
101	Nik	KLM 1382	KBP	AMS	2015-05-01
102	Anton	KVV 1482	KWW	KV	2020-05-06

In [38]:
print("Hotel:")
with hotel_con.cursor() as hotel_cursor:
    hotel_cursor.execute("SELECT * FROM hotel_booking;")
    answer_hotel = hotel_cursor.fetchall()

hotel_con.rollback()

for line in answer_hotel:
    print("\t".join(map(lambda x: str(x).strip(), line)))
    

print("Fly:")
with fly_con.cursor() as fly_cursor:
    fly_cursor.execute("SELECT * FROM fly_booking;")
    answer_hotel = fly_cursor.fetchall()

fly_con.rollback()

for line in answer_hotel:
    print("\t".join(map(lambda x: str(x).strip(), line)))

Hotel:
101	Nik	Hilton	2015-05-01	2015-05-07
Fly:
101	Nik	KLM 1382	KBP	AMS	2015-05-01